img{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img{
    width: 600px;
}

img{
    width: 600px;
}

p{
    text-align: center;
    color: blueviolet;
}

h1{
    text-align: center;
    color: aqua;
}

h2{
    text-align: center;
    color: black;
}

h3{
    text-align: center;
    color: blueviolet;
}



form{
    text-align: center;
}
label{
    color: black;
}